apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-app
spec:
  replicas: 2 # 初始 2 個 Pod
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
      - name: web-server
        image: jerryyulin/k8s-demo-app:1
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "50m" # 請求 0.05 顆 CPU