apiVersion: v1
kind: Service
metadata:
  name: my-web-service
spec:
  type: NodePort 
  selector:
    app: my-web-app
  ports:
  - port: 80         # Service 的 80 埠
    targetPort: 80   # 轉發到 Pod 的 80 埠